argopy
pandas
numpy
scikit-learn
tensorflow
matplotlib
seaborn
shapely
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter-resource-usage
jupyter-server
jupyter_client
jupyter_core
scipy==1.10.1
ioos_qc