argopy
pandas
numpy
scikit-learn
tensorflow
matplotlib
seaborn
shapely

scipy
ioos_qc

pillow
streamlit
folium
plotly
streamlit_folium
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter-resource-usage
jupyter-server
jupyter_client
jupyter_core
